default: &default
  adapter: postgresql
  encoding: unicode
  host: db
  username: postgres
  password: password
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: enigma_development

test:
  <<: *default
  database: enigma_test

production:
  <<: *default
  database: enigma_production
  username: <%= ENV['ENIGMA_DATABASE_USERNAME'] %>
  password: <%= ENV['ENIGMA_DATABASE_PASSWORD'] %>
